<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup>
  <connectionStrings>
    <add name="Timer" connectionString="60000"/>
	  <add name="IP" connectionString="192.168.1.108"/>
	  <add name="Port" connectionString="12000"/>
  </connectionStrings>
  <appSettings>
    <add key="LEON_Can4GTEST" value="R8KKxT2GstvBvE62G6KmJ7LUV3cGyYXiJlGANnGFa6B"/>
    
  </appSettings>
</configuration>
