<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
  <connectionStrings>
    <!--<add name="LEON_DB" connectionString="Data Source=192.168.1.54;Initial Catalog=4GDTU_DB;User Id=sa;Password=54013657;" />-->
    <add name="LEON_DB" connectionString="Data Source=localhost;Initial Catalog=4GDTU_DB;User Id=sa;Password=2wsx0okm;"/>
  </connectionStrings>
  <appSettings>
    <add key="Log" value="0"/>
    <add key="ServerIPAddress" value="192.168.48.1"/>
    <add key="ServerPort" value="3657"/>
    <add key="ClientIP" value="127.0.0.1"/>
    <add key="ClientPort" value="21000"/>
    <add key="Time" value="1000"/>
    <add key="Message" value="LEON_Can4G"/>
  </appSettings>
</configuration>
